a {
    width: 15.39em;
    height: 3.55em;
    display: inline-block;
    text-indent: -99999px;
    background-image: url(/assets/sirma-logo.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.title {
    color: #413f54;
}